$bgcolor: #000;
$color: #fff;
$colorfoot: linear-gradient(to right, rgb(255, 208, 80), rgb(255, 208, 60), rgb(255, 195, 60), rgb(255, 208, 60), rgb(255, 208, 80));
$navcolor: #161616;
$navhovcolor: #262626;